@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura (Light).ttf');
}

.page:nth-child(1) {
    background-image: url("../img/nightsky.jpg");
    background-repeat: repeat-y;
}

header {
    width: 100%;
}

#container1 {
    background-color: #ffffff;
    width: 100%;
}

#container1 p {
    text-align: center;
}

#container1 h3 {
    text-align: center;
}

.redbar {
    background-color: #d71a21;
    height: 25px;
}

#container1 img {
    padding-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#farright {
    float: right;
    padding-right: 35px;
}

#farright p {
    font-family: "Michroma";
    margin-bottom: -12px;
    color: #d71a21;
}

#menubutton {
    float: right;
    padding-right: 75px;
}

#menubutton:hover {
    opacity: 0.7;
}

#hours {
    font-size: 11px;
    padding-top: 10px;
    color: #414141;
}

#hours p {
    color: #414141;
}

#container2 {
    background-color: #ffffff;
    margin-top: 275px;
    padding: 20px;
}

#container2 h1 {
    font-family: "Michroma";
    color: #d71a21;
    text-align: center;
}

#container2 p {
    text-align: center;
    font-family: 'Futura';
}

#boxes {
    width: 100%;
    overflow: hidden;
    margin-left: -35px;
}

#boxes ul {
    text-align: center;
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
}

#boxes ul li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
}

#boxes li {
    padding: 10px;
}

#boxes h4 {
    font-family: "Michroma";
}

#container3 {
    background-color: #d71a21;
    margin-top: 275px;
}

#contact {
    float: right;
    font-family: "Michroma";
    padding-top: 0px;
    margin-bottom: 50px;
    padding-right: 65px;
}

#contact p {
    margin-bottom: -12px;
}

#phone {
    color: #ffffff;
    padding-bottom: 15px;
}

#email {
    color: #ffffff;
    padding-bottom: 25px;
}

#email a {
    color: #ffffff;
}

#email a:hover {
    color: #109209;
}

#phone a {
    color: #ffffff;
}

#phone a:hover {
    color: #109209;
}

#social a:hover {
    opacity: 0.7;
}

#social li {
    float: right;
    padding-right: 24px;
}

#social ul {
    padding-top: 25px;
    padding-left: 90px;
    list-style: none;
    display: inline-block;
    padding-bottom: 35px;
}

#menucontainer {
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    padding: 25px;
    margin-top: 50px;
    padding-bottom: 500px;

}

#menucontainer h1 {
    font-family: "Michroma";
    color: #109209;
    text-align: center;
    font-size: 35px;
}

#menucontainer h3 {
    font-family: "Michroma";
    color: #d71a21;
    text-align: center;
    clear: both;
    padding-top: 45px;
    font-size: 25px;
}

#menucontainer p {
    font-family: "Futura";
    color: #414141;
    text-align: center;
}

#menucontainer h4 {
    font-family: "Michroma";
    font-weight: 700;
    color: #414141;
    text-align: center;
    padding-top: 25px;
}

#menucontainer img {
    width: 100%;
}

.left {
    width: 45%;
    float: left;
}

.right {
    width: 45%;
    float: right;
}

.logo2 {
    display: none;
}

#copyright {
    text-align: center;
}


#image-container {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

#image-container img.pic {
    position: absolute;
    top: 0;
    left: 0;
}

#image-container img.hoverpic {
    position: absolute;
    top: 200px;
    left: 0;
}

#carousel h3 {
    margin-top: 270px;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    font-family: "Michroma";
    color: #109209;
}



@media all and (min-width: 400px) {
    .logo {
        display: none;
    }
    .logo2 {
        display: block;
        padding-left: 0;
        margin: auto;
        margin-left: -45px;
        width: 400px;
    }
    .redbar {
        margin-top: 45px;
    }
    #container1 {
        height: 500px;
    }
    #farright {
        margin-top: -25px;
        padding-bottom: 25px;
        float: none;
    }
    #menubutton {
        margin-top: 25px;
        float: none;
        margin-left: 85px;
    }
    #contact {
        padding-top: 30px;
    }
    #menucontainer img {
        padding-top: 75px;
    }

}
