@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura (Light).ttf');
}


.page:nth-child(1) {
    background-image: url("../img/nightsky.jpg");
    background-repeat: repeat-y;
}

header {
    width: 100%;
}

#container1 {
    background-color: #ffffff;
    width: 100%;
}

#container1 p {
    text-align: center;
}

#container1 h3 {
    text-align: center;
}

.redbar {
    background-color: #d71a21;
    height: 25px;
}


#container1 img {
    padding-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#farright {
    float: right;
    padding-right: 35px;
}

#farright p {
    font-family: "Michroma";
    margin-bottom: -12px;
    color: #d71a21;

}

#menubutton {
    float: right;
    padding-right: 75px;
}

#menubutton:hover {
    opacity: 0.7;
}

#hours {
    font-size: 11px;
    padding-top: 10px;
    color: #414141;
}

#hours p {
    color: #414141;
}

#container2 {
    background-color: #ffffff;
    margin-top: 275px;
    width: 100%;
    padding: 20px;
}

#container2 h1 {
    font-family: "Michroma";
    color: #d71a21;
    text-align: center;
}

#container2 p {
    text-align: center;
    font-family: 'Futura';
}

#boxes {
    width: 100%;
    overflow: hidden;
    margin-left: -30px;
}

#boxes ul {
    text-align: center;
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
}

#boxes ul li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
}

#container3 {
    background-color: #ffffff;
    margin-top: 275px;
}

#contact {
    float: right;
    font-family: "Michroma";
}

#social li {
    list-syle-type: none;
}
